In [1]:
l = [10,20,30,40,50,60,70]

In [2]:
# if you have access single element in new line
for i in l:
    print(i)

10
20
30
40
50
60
70

In [3]:
# if you can access list using for loop
for i in l:
    print(l)

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]

In [4]:
# if you can access a string
for item in l:
    print("python")

python
python
python
python
python
python
python

In [6]:
for item in l:
    print(item)

10
20
30
40
50
60
70

In [8]:
# if you can access at specific by using break function
for item in l:
    print(item)
    if item == 40:
        break

10
20
30
40

In [9]:
for item in l:
    if item == 40:
        break
    print(item)

10
20
30

In [12]:
# if avoid a single element
for item in l:
    if item == 40:
        continue
    print(item)

10
20
30
50
60
70

In [13]:
# if you have access all string alphabet in new line 
a = "Learning Python"
for i in a:
    print(i)

L
e
a
r
n
i
n
g

P
y
t
h
o
n

In [14]:
# if access all element/string in single line
for i in l:
    print(i,end=" ")

10 20 30 40 50 60 70

In [15]:
# By using range function we access that particular element it use for mathematical calculations. 
# syntax(start,stop,step)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [17]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [18]:
l = [10,20,30,40,50,60,70]
len(l)

7

In [19]:
# Here i can try to access list element
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [20]:
for i in range(7):
    print(l[i])

10
20
30
40
50
60
70

In [21]:
# Here i can try to access list with index
for i in range(7):
    print(i,l[i])

0 10
1 20
2 30
3 40
4 50
5 60
6 70

In [22]:
for i in range(7):
    print(i,"=",l[i])

0 = 10
1 = 20
2 = 30
3 = 40
4 = 50
5 = 60
6 = 70

In [23]:
d = {"a":11,"b":21,"c":44}

In [24]:
d["a"]

11

In [25]:
for i in d:
    print(d[i])

11
21
44

In [26]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
# Table modification
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [2]:
# Table modify with different numbers using a variable
num = 2 # Here, we can just change only a particular number and it's create a new table for a new/different number.
for i in range(1,11):
    print(num,"x",i,'=',i*num)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [3]:
# Access a string with various type
# 1. new line new word
r = "python"
for i in r:
    print(i)

p
y
t
h
o
n

In [5]:
# 2.With index new line new word
for i in range(6):
    print(i,"=",r[i])

0 = p
1 = y
2 = t
3 = h
4 = o
5 = n

In [6]:
# 3.Using length function in range function
r = "Datascience"
for i in range(len(r)):
    print(i,"=",r[i])

0 = D
1 = a
2 = t
3 = a
4 = s
5 = c
6 = i
7 = e
8 = n
9 = c
10 = e

In [11]:
# To find factorial using range function
num = 5
output = 1
for i in range(1,num+1):
    output = output * i
    print(output)

1
2
6
24
120

In [12]:
num = 5
output = 1
for i in range(1,num+1):
    output = output * i
print(output)

120