In [1]:
rupali = [1000,1500,1200,4500,1500,1000,4555]
nikita = [1500,1200,4500,111,3333,5555]
def expense():
    total = 0
    for i in rupali:
        total += i
    print(total)

In [2]:
expense()

15255

In [3]:
def expense(name):
    total = 0
    for i in name:
        total += i
    print(total)

In [4]:
expense(rupali)

15255

In [5]:
# function have a four type
# 1.function with no parameter (Use for create a new function)
# 2. function with parameter  (we require a parameter)
# 3. function with default parameter (default parameter use to initiallize values no argument require/provided for parameter)
# 4. function with return parameter (if a function block can be use any where in program)

In [6]:
# function with no parameter
def func_name():
    print("This is func with no parameter")

In [7]:
func_name()

This is func with no parameter

In [8]:
# function with parameter
def test(a,b):
    c = a + b
    print(c)

In [9]:
test(10,15)

25

In [10]:
num1 = 10
num2 = 111
def test(a,b):
    c = num1 + num2
    print(c)
test(num1,num2)

121

In [11]:
# function with default parameter
def add(a,b):
    c = a + b
    print(c)
add(10,20)

30

In [12]:
def add(a = 10 ,b = 20):
    c = a + b
    print(c)
add()

30

In [13]:
def add(a = 10,b = 20):
    c = a + b
    print(c)

In [14]:
# function with return parameter
def add(a,b):
    c = a + b
    print(c)
add(10,20)

30

In [15]:
def add(a,b):
    """This function will return addition of two numbers"""
    print(c)

In [16]:
def test(a,b,c,d):
    return a,b,c,d
test(10,20,30,40)

(10, 20, 30, 40)

In [17]:
# In a function of two type of parameter use because to reduce the parameter/argument error it means no fix value in a function.
# 1. Star argument , 2. double star keyword argument

In [18]:
# 1. Star argument - (use for a only single element, e.g int,float,str,list,tuple,set)

In [19]:
def test(*args):
    return args

In [20]:
test()

()

In [21]:
test(10)

(10,)

In [22]:
test(11,23)

(11, 23)

In [23]:
# 2.double star keyword argument(**kwargs) - (use for add a double element like dictionary format like keys and values)

In [24]:
def test1(**kwargs):
    return kwargs

In [25]:
test1(name = "rupali",age = 24 ,village = "dhodambe")

{'name': 'rupali', 'age': 24, 'village': 'dhodambe'}

In [26]:
l = [10,20,30]
l.append(15)
print(l)

[10, 20, 30, 15]

In [27]:
l = [10,20,30]
r = [1,2,3,4,5]
def test(variable,num):
    variable.append(num)
    print(variable)

In [28]:
test(l,"python")

[10, 20, 30, 'python']

In [29]:
test(r,9)

[1, 2, 3, 4, 5, 9]

In [30]:
# Local variable and Global variable

In [31]:
a = 10 
def add(num):
    print(num + 11)
add(a)

21

In [32]:
print(a)

10

In [33]:
a = 10
def add(num):
    b = 10
    print(b + 11)

In [34]:
add(a)

21

In [35]:
num = 5
for i in range(1,11):
    print(i * num)

5
10
15
20
25
30
35
40
45
50

In [36]:
num = 5
def multiplication():
    for i in range(1,11):
        print(i * num)
multiplication()

5
10
15
20
25
30
35
40
45
50

In [37]:
num = 5
def factorial(num):
    fact = 1
    for i in range(1,num+1):
        fact = fact*i
    print(fact)

In [38]:
factorial(num)

120

In [39]:
s = "Python is easy"
s.replace("easy","hard")

'Python is hard'

In [40]:
def test(sample,old,new):
    return(sample.replace(old,new))

In [41]:
r = test(s,"easy","hard")
r

'Python is hard'

In [42]:
# lambda Function - it can use to take a multiple parameter argument, but execution has to be only one

In [43]:
test = lambda a,b :a+b

In [44]:
test(11,22)

33

In [45]:
test = lambda s : s.strip()

In [46]:
test("     rrrrrr  ")

'rrrrrr'

In [47]:
# python practice
r = ['python','sql',11,10,20,['html','css','js'],10.55]
alpha = []
numbers = [] 
for i in r:
    if type(i) == str:
        alpha.append(i)
    elif type(i) == int or type(i) == float:
        numbers.append(i)
    elif type(i) == list:
        for j in i:
            if type(j)  == str:
                alpha.append(j)
print(alpha)
print(numbers)

['python', 'sql', 'html', 'css', 'js']
[11, 10, 20, 10.55]

In [48]:
r = ['python','sql',11,10,20,['html','css','js'],10.5,{'key':'value','name':"rupali",'age':11}]
alpha = []
number = []
for i in r:
    if type(i) == str:
        alpha.append(i)
    elif type(i) == int:
        number.append(i)
    elif type(i) == list:
        for j in i:
            if type(j) == str:
                alpha.append(j)
    elif type(i) == dict:
        for k in i:
            if type(i[k]) == str:
                alpha.append(i[k])
            elif type(i[k]) == int:
                number.append(i[k])
    
print(alpha)
print(number)

['python', 'sql', 'html', 'css', 'js', 'value', 'rupali']
[11, 10, 20, 11]

 1) access list, 2)if sample is string then then add all string sample in one list if sample is number then create a new variable count and add 1 for 
number, final answer should be count = 5

In [49]:
# 1) access list
l = ['python','sql',11,22,33,44,15.45,'data science']
for i in l:
    print(i)

python
sql
11
22
33
44
15.45
data science

In [51]:
# 2) if sample is string then then add all string sample in one list if sample is number then create a new variable count and add 1 for number, final answer should be count = 5
count = 0
output = []
for i in l:
    if type(i) == int or type(i) == float:
        count += 1
    elif type(i) == str:
        output.append(i)
print(count)
print(output)

5
['python', 'sql', 'data science']

Random function

In [53]:
from random import*

In [54]:
# if use random function it can give single output in the range between 0 to 1
random()

0.7348703289755621

In [56]:
# access multiple output by using a random function
for i in range(5):
    print(random())

0.7839524420759006
0.2538863311239685
0.7186882750568181
0.9911232699585505
0.4415914281663261

In [57]:
# if in output have a single integer including lower and higher limit provided as a two arguments/parameter
randint(10,20)

14

In [59]:
# with the help of randint access multiple output by using randint function
for i in range(5):
    print(randint(10,20))

18
11
10
14
13

In [65]:
# access single a random number in  start and stop
randrange(10,100)

60

In [66]:
# using a choice function choose a random number in a list
l = [10,20,30,40,50]
print(choice(l))

20

In [67]:
# uniform function gives a float randaom values specified lower and higher boundary
print(uniform(10,20))

14.597656794450822

In [7]:
# create a function for quadratic equation
def quadratic_equation(a,b,c):
    d = ((b ** 2)-(4*a*c))
    print("discriminant of quadratic equation: ", d)
    print("solution of quadratic equation: ", (-b + (d ** 0.5))/(2 * a))
    print("solution of quadratic equation: ", (-b - (d ** 0.5))/(2 * a))

In [8]:
quadratic_equation(9,-9,2)

discriminant of quadratic equation:  9
solution of quadratic equation:  0.6666666666666666
solution of quadratic equation:  0.3333333333333333

In [12]:
quadratic_equation(4,-4,1)

discriminant of quadratic equation:  0
solution of quadratic equation:  0.5
solution of quadratic equation:  0.5

In [13]:
quadratic_equation(4,-4,0)

discriminant of quadratic equation:  16
solution of quadratic equation:  1.0
solution of quadratic equation:  0.0

In [17]:
# convert kilometer into miles 
def conversion(x):
    kilometer = float(x)
    conversion_factor = 0.621
    miles = kilometer*conversion_factor
    print("distance in miles: ",miles)

In [18]:
conversion(3.5)

distance in miles:  2.1734999999999998

In [19]:
conversion(10)

distance in miles:  6.21

In [26]:
# convert miles into an kilometer
def convert(x):
    miles = float(x)
    # conversion_factor = 1.62
    kilometer = miles * 1.62
    print("distance in kilometer: ",kilometer)

In [27]:
convert(2.17)

distance in kilometer:  3.5154

In [28]:
convert(6.21)

distance in kilometer:  10.0602

In [31]:
import random

In [32]:
# access random number using "Random"
def random_number(x):
    rng = random.Random()
    for i in range(x):
        random_number = rng.random()
        print("random_number",random_number)

In [33]:
random_number(5)

random_number 0.017444422693753237
random_number 0.2544468768739284
random_number 0.9587089565993208
random_number 0.5840769846875188
random_number 0.34443637339094413

In [34]:
random_number(10)

random_number 0.7098417292156709
random_number 0.2549805494563091
random_number 0.8418184467698785
random_number 0.4596726376472431
random_number 0.7190206171038521
random_number 0.895717118409745
random_number 0.587328579378271
random_number 0.8208792420494663
random_number 0.6789477071895601
random_number 0.2386197910672755