# Prime number

In [6]:
num = 99
X = 0
if num == 1:
    print("is not a prime number")
elif num > 1:
    for i in range(2,num):
        if(num % i) == 0:
            X = 1
            break
    if X:
        print("is not a prime number")
    else:
        print("it is a prime number")

is not a prime number

In [12]:
n = 312
if n == 1:
    print("is not a prime number")
elif n > 1:
    for i in range(2,n):
        if (n % i) == 0:
            print("is not a prime number")
            # print(i,"times",num//i,"is",num)
            break
    else:
        print("is a prime number")
# else:
#     print(num,"is not a prime number")

is not a prime number

In [22]:
def prime_num(n):
    if n == 1:
        print("it is not a prime number")
    elif n > 1:
        for i in range(2,n):
            if (n % i) == 0:
                print("is not a prime number")
                break
        else:
            print("is a prime number")

In [25]:
prime_num(11)

is a prime number

In [17]:
lower = 1
upper = 100
# print("Prime number between", lower,"and",upper,"are:")
for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [20]:
def prime_num(lower,upper):
    for num in range(lower, upper+1):
        if num > 1:
            for i in range(2,num):
                if (num % i) == 0:
                    break
            else:
                print(num)

In [21]:
prime_num(1,100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# fibonnaci series

In [27]:
nterms = int(input("How many terms? "))
n1,n2 = 0,1
count = 0
if nterms <= 0:
    print("Please Enter a positive integer")
elif nterms == 1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)
else:
    print("Fibonnaci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1

How many terms?  4

Fibonnaci sequence:
0
1
1
2

In [44]:
def fibonacci_series(nterm,n1,n2):
    if nterm <= 0:
        print('positive integer')
    elif nterm == 1:
        print("Fibonacci Sequence upto",nterm)
        print(n1)
    else:
        print("Fibonacci Sequence: ")
        count = 0
        while count < nterm:
            print(n1)
            nth = n1 + n2
            n1 = n2
            n2 = nth
            count += 1

In [45]:
fibonacci_series(4,0,1)

Fibonacci Sequence:
0
1
1
2

In [43]:
def fibonacci_series(nterm, n1, n2):
    if nterm <= 0:
        print('Positive integer required')
    elif nterm == 1:
        print("Fibonacci Sequence upto", nterm)
        print(n1)
    else:
        print("Fibonacci Sequence: ")
        count = 0  # Initialize count
        while count < nterm:
            print(n1)
            nth = n1 + n2
            n1 = n2
            n2 = nth
            count += 1

fibonacci_series(4, 0, 1)

Fibonacci Sequence:
0
1
1
2

# Python Program to display power of 2 using anonymous function

In [52]:
n = 4
op = list(map(lambda x : 2 ** x, range(n)))
print("The total term are:",n)
for i in range(n):
    print("2 raised to power",i,"is",op[i])

The total term are: 4
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8

# factorial number

In [4]:
a = 5
total =1
for i in range(1,a+1):
    total = i*total
print(total)

120

In [11]:
# using local variable
def factorial_num(n):
    factorial = 1
    for i in range(1,n+1):
        factorial = i * factorial
    print(factorial)

In [12]:
factorial_num(9)

362880

In [15]:
# using global variable
factorial = 1
def factorial_num(n):
    global factorial
    for i in range(1,n+1):
        factorial = i * factorial
    print(factorial)

In [16]:
factorial_num(9)

362880

In [17]:
# display table multiplication
num = 7
for i in range(1,11):
    print(i*num)

7
14
21
28
35
42
49
56
63
70

In [18]:
num = 7
for i in range(1,11):
    print(num,"x",i,"=",i*num)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

# function for a Table

In [20]:
def table(n):
    for i in range(1,11):
        print(i*n)

In [21]:
table(7)

7
14
21
28
35
42
49
56
63
70

In [24]:
# To print pyramid using number
rows = int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter number of rows:  9

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [27]:
n = 8
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [25]:
# Function for a pyramid
def pyramid_num(n):
    for i in range(n):
        for j in range(i+1):
            print(j+1,end=" ")
        print()

In [26]:
pyramid_num(9)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [31]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
    while k != (2 * i-1):
        print("9 ", end="")
        k += 1
    k = 0
    print()

Enter number of rows:  9

                9
              9 9 9
            9 9 9 9 9
          9 9 9 9 9 9 9
        9 9 9 9 9 9 9 9 9
      9 9 9 9 9 9 9 9 9 9 9
    9 9 9 9 9 9 9 9 9 9 9 9 9
  9 9 9 9 9 9 9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9

In [38]:
# for i in range(1, rows+1):
for space in range(1, (rows-i)+1):
        print(end="  ")
while k != (2 * i-1):
        print("9 ", end="")
        k += 1
k = 0
print()
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9

In [47]:
rows = 9
k = 0
for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
    while k != (2 * i-1):
        print("9 ", end="")
        k += 1
    k = 0
    print()

                9
              9 9 9
            9 9 9 9 9
          9 9 9 9 9 9 9
        9 9 9 9 9 9 9 9 9
      9 9 9 9 9 9 9 9 9 9 9
    9 9 9 9 9 9 9 9 9 9 9 9 9
  9 9 9 9 9 9 9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9

In [64]:
n = 9
a = 0
for i in range(1, n+1):
    for space in range(1, (n-i)+1):
        print(end="  ")
    while a != (2 * i-1):
        print("r ", end='')
        a += 1
    a = 0
    print()

                r
              r r r
            r r r r r
          r r r r r r r
        r r r r r r r r r
      r r r r r r r r r r r
    r r r r r r r r r r r r r
  r r r r r r r r r r r r r r r
r r r r r r r r r r r r r r r r r

In [ ]:
m = 9
b = 0
def pyra_fun(x):